[submodule "ROS/src/rosserial"]
	path = ROS/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "Arduino/ROS-motor-control"]
	path = Arduino/ROS-motor-control
	url = https://gitlab.cs.wallawalla.edu/robotics-club/ROS-motor-control.git
[submodule "Schematics/libraries/teensy_lisbrary"]
	path = Schematics/libraries/teensy_library
	url = https://github.com/XenGi/teensy_library.git
[submodule "Schematics/libraries/teensy.pretty"]
	path = Schematics/libraries/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty.git
[submodule "ROS/src/realsense-ros"]
	path = ROS/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "ROS/src/ddynamic_reconfigure"]
	path = ROS/src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
